@import "mixins/mixins";
@import "common/var";

@include b(cascader) {
  padding: 0;
  font-size: $--font-size-base;
  @include m(medium) {
    font-size: $--font-size-base;
  }
  @include m(small) {
    font-size: $--font-size-small;
  }
  @include m(mini) {
    font-size: $--font-size-extra-small;
  }
  @include m(disabled) {
    // display: none;
  }

  @include e(title) {
    border-bottom: 1px solid #eee;
    height: 52px;
    font-size: 14px;
    overflow: hidden;
    
    @include e(inner) {
      padding: 14px;
      font-weight: 700;
      display: block;
      float: left;
      font-size: $--font-size-medium;
    }

    @include e(error) {
      float: right;
      padding: 17px;
      font-size: 12px;
      color: $--color-danger;
    }

    @include e(search) {
      display: block;
      float: right;
      position: relative;
      padding: 8px 50px 8px 10px;
      @include m(medium) {
        padding: 10px 50px 10px 10px;
      }
      @include m(small) {
        padding: 12px 50px 12px 10px;
      }
      @include m(mini) {
        padding: 14px 50px 14px 10px;
      }
      .iw-input__icon {
        font-size: 16px;
      }
    }
    
    @include e(close) {
      cursor: pointer;
      position: absolute;
      right: 14px;
      top: 14px;
      padding: 4px;
      &:hover {
        background: $--background-color-base;
        border-radius: 4px;
      }
      i {
        font-size: 16px;
        color: #aaacb7;
      }
    }
  }
  
  @include e(body) {
    @include e(filter) {
      color: $--color-text-secondary;
      padding: 10px 15px;
    }
    
    @include e(group) {
      min-width: 100px;
      max-width: 180px;
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid $--border-color-lighter;
      @include e(group-title) {
        padding: 7px 10px;
        background: $--background-color-base;
        cursor: pointer;
      }
      @include e(wrap) {
        min-height: 116px;
        max-height: 336px;
        @include e(item) {
          padding: 7px 10px;
          cursor: pointer;
          &:hover {
            background: $--select-option-hover-background;
          }
          &.on {
            background: $--select-option-selected-hover;
          }
          .iw-text {                    
            display: block;
            @include text-hide();
            &:first-child {
              width: 100%;
            }
            &::last-child {
              width: 130px;
            }
          }
          @include e(item-icon) {
            position: absolute;
            right: 10px;
            padding: 4px 0;
            color: $--color-text-secondary;
          }
        }
      }
      &:last-child {
        border-right: 0;
      }
    }
  }

  @include e(footer) {
    border-top: 1px solid #f2f2f3;
    text-align: right;
    padding: 10px 15px;
    min-width: 120px;
    @include e(footer-selected) {
      width: calc(100% - 234px);
      float: left;
      text-align: left;
      overflow: auto;
      overflow-x: hidden;
      label {
        float: left;
        margin-right: 6px;
        color: $--color-text-secondary;
      }
      @include e(footer-scroll) {
        max-height: 52px;
        @include m(medium) {
          max-height: 48px;
        }
        @include m(small) {
          max-height: 44px;
        }
        @include m(mini) {
          max-height: 40px;
        }
        .iw-tag {
          margin-right: 6px;
          margin-bottom: 4px;
          cursor: pointer;
        }
      }
    }
    @include e(footer-checkall) {
      width: 76px;
      display: inline-block;
      cursor: pointer;
      text-align: left;
      .iw-text {
        margin-left: 2px;
      }
    }
  }
  .iw-checkbox {
    background: url("./images/icon/checkbox.png") transparent 36px 47px;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    cursor: pointer;
    &.iw-checkbox--checked {
      background-position: 36px 73px;
    }
    &.iw-checkbox--indeterminate {
      background-position: 36px 21px;
    }
  }
  .iw-radio {
    background: url("./images/icon/radio.png") transparent 32px 42px;
    width: 15px;
    height: 15px;
    float: left;
    display: block;
    cursor: pointer;
    margin-top: 2px;
    &.iw-radio--checked {
      background-position: 32px 57px;
    }
  }
  .iw-text {
    &.font-orange {
      color: orange;
    }
    em {
      padding-left: 4px;
    }
  }
}

.iw-cascader-reference {
  display: inline-block;
  @include b(input) {
    cursor: pointer;
    &.is-focus {
      @include e(inner) {
        outline: none;
        border-color: $--color-primary;
      }
    }
    @include e(placeholder) {
      color: $--color-text-placeholder;
    }
    @include e(value) {
      color: $--color-text-regular;
      input {
        border: 0;
        line-height: 1;
        font-size: inherit;
        color: $--color-text-regular;
        cursor: pointer;
        width: 100%;
        &:disabled {
          background-color: transparent;
          cursor: not-allowed;
        }
        &.iw-input__placeholder {
          color: $--color-text-placeholder;
        }
      }
    }
    @include e(suffix) {
      position: absolute;
      right: 0;
      top: 0;
      @include e(icon) {
        color: $--color-text-placeholder;
        font-size: 14px;
        transition: transform .3s;
        transform: rotate(180deg);
        cursor: pointer;
        &.is-reverse {
          transform: rotate(0deg);
        }
      }
    }
  }
}