@import "mixins/mixins";
@import "common/var";

@include b(favorite) {
  padding: 0;
  font-size: $--font-size-base;
  @include m(medium) {
    font-size: $--font-size-base;
  }
  @include m(small) {
    font-size: $--font-size-small;
  }
  @include m(mini) {
    font-size: $--font-size-extra-small;
  }
  @include m(disabled) {
    display: none;
  }

  @include e(title) {
    border-bottom: 1px solid #eee;
    height: 52px;
    font-size: 14px;
    
    @include e(inner) {
      padding: 14px;
      font-weight: 700;
      display: block;
      float: left;
      font-size: $--font-size-medium;
    }

    @include e(error) {
      float: right;
      padding: 15px 50px 15px 10px;
      font-size: $--font-size-base;
      color: $--color-danger;
      @include m(medium) {
        padding: 16px 50px 16px 10px;
        font-size: $--font-size-base;
      }
      @include m(small) {
        padding: 16px 50px 16px 10px;
        font-size: $--font-size-small;
      }
      @include m(mini) {
        padding: 17px 50px 17px 10px;
        font-size: $--font-size-extra-small;
      }
    }
    
    @include e(close) {
      cursor: pointer;
      position: absolute;
      right: 14px;
      top: 14px;
      padding: 4px;
      &:hover {
        background: $--background-color-base;
        border-radius: 4px;
      }
      i {
        font-size: 16px;
        color: #aaacb7;
      }
    }
  }
  
  @include e(body) {

    @include e(wrap) {
      @include e(group) {
        @include e(group_table) {
          padding: 0;
          > div {
            border: 0;
            > dl {
              border-bottom: 1px solid #eee;
              @include clearfix();
              > dt {
                padding: 6px;
                float: left;
                @include e(item) {
                  display: inline-block;
                  @include m(text) {
                    width: calc(100% - 50px);
                    max-height: 36px;
                    overflow: hidden;
                    float: left;
                  }
                  @include m(select) {
                    cursor: pointer;
                    width: 50px;
                    padding-left: 10px;
                    float: right;
                  }
                }
                @include e(button) {
                  cursor: pointer;
                  @include m(select) {
                    color: $--color-primary;
                  }
                  @include m(del) {
                    color: $--color-danger;
                  }
                  @include m(create) {
                    color: $--color-primary;
                  }
                  @include m(copy) {
                    color: $--color-primary;
                  }
                }
              }
              > dt:nth-child(1) {
                width: 160px;
              }
              > dt:nth-child(2) {
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
              }
              > dt:nth-child(3) {
                width: 105px;
              }
              > dt:last-child {
                border-right: 0;
              }
            }
            > dl:last-child {
              border-bottom: 0;
              > dt:nth-child(1) {
                border-bottom: 0;
              }
            }
          }
        }
        @include e(group_item) {
          width:100px;
          cursor: pointer;
          @include clearfix();
          .iw-text {
            width: 80px;
          }
        }
      }
    }
    @include e(body-header) {
      @include e(group) {
        @include e(group_table) {
          > div {
            > dl {
              border-bottom: 1px solid #eee;
              @include clearfix();
              dt {
                text-align: center;
                background: $--background-color-base;
              }
            }
          }
        }
      }
    }
  }

  @include e(footer) {
    border-top: 1px solid #f2f2f3;
    text-align: right;
    padding: 10px 15px;
    min-width: 120px;
    .iw-favorite__desc {
      float: left;
    }
  }
  .iw-radio {
    background: url("~@iways-ui/src/assets/images/icon/radio.png") transparent 32px 42px;
    width: 15px;
    height: 15px;
    float: left;
    display: block;
    cursor: pointer;
    margin-top: 2px;
    &.iw-radio--checked {
      background-position: 32px 57px;
    }
  }
  .iw-text {
    padding-left: 4px;
    width: 100px;
    display: block;
    float: left;
    color: $--color-primary;
  }
  .font-blue {
    color: $--color-primary;
  }
  .font-orange {
    color: $--color-warning;
  }
}

.iw-favorite-reference {
  display: inline-block;
  @include b(input) {
    cursor: pointer;
    &.is-focus {
      @include e(inner) {
        outline: none;
        border-color: $--color-primary;
      }
    }
    @include e(placeholder) {
      color: $--color-text-placeholder;
    }
    @include e(value) {
      color: $--color-text-regular;
      input {
        border: 0;
        line-height: 1;
        font-size: inherit;
        color: $--color-text-regular;
        cursor: pointer;
        width: 100%;
        &:disabled {
          background-color: transparent;
          cursor: not-allowed;
        }
        &.iw-input__placeholder {
          color: $--color-text-placeholder;
        }
      }
    }
    @include e(suffix) {
      position: absolute;
      right: 0;
      top: 0;
      @include e(icon) {
        color: $--color-text-placeholder;
        font-size: 14px;
        transition: transform .3s;
        transform: rotate(180deg);
        cursor: pointer;
        &.is-reverse {
          transform: rotate(0deg);
        }
      }
    }
  }
}